---
// No need for server-side loading variable
---

<div id="loading-overlay" class="hidden w-full h-full bg-black/85 z-10 top-0 bottom-0 right-0 left-0 absolute flex flex-col justify-center items-center">
  <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-b-4 border-green-500"></div>
  <p class="text-green-500 text-sm mt-4">Sending. Please wait...</p>
</div>

<!-- <script>
  const loadingOverlay = document.getElementById('loading-overlay');

  // Initial state
  updateLoadingState(localStorage.getItem('loading') === 'true');

  // Watch for changes in localStorage
  window.addEventListener('storage', (event) => {
    if (event.key === 'loading') {
      updateLoadingState(event.newValue === 'true');
    }
  });

  // Function to update the loading state
  function updateLoadingState(isLoading: any) {
    if (loadingOverlay) {
      loadingOverlay.classList.toggle('hidden', !isLoading);
    }
  }

  // Custom event listener for local state changes
  window.addEventListener('loadingStateChange', (event: any) => {
    updateLoadingState(event.detail.isLoading);
  });
</script> -->